/* You can add global styles to this file, and also import other style files */
@import "../node_modules/the-new-css-reset/css/reset.css";
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bolder {
  font-weight: 500;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}
